html {
  background: #f2f1f4;
  color: #19171c;
}

body {
  display: flex;
}

h1 {
  padding: 20px;
}

.title:nth-child(2), .title:nth-child(6){
    background: red;
}

.title:nth-child(4) {
    background: green;
}

.title::before {
  content: url();
}

.active::before {
  content:"bye!";
}

/*.title:nth-child(odd) {
    background: green;
}*/

.description {
  display: none;
}

.active + .description {
  display: block;
}

.accordion {
  background: yellow;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  margin: auto;
  padding: 25px;
}

#section1, #section2, #section3 {
  padding: 20px;
}
