html {
  background: #f2f1f4;
  color: #19171c;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.accordion {
  background: yellow;
  display: block;
  height: 600px;
  width: 600px;
  margin: auto;
  padding: 25px;
}

#section1, #section2, #section3 {
  padding: 20px;
}

.description {
  display: none;
}

.active + .description {
  display: block;
}

.title:nth-child(2), .title:nth-child(6){
    background: red;
}

.title:nth-child(4) {
    background: green;
}

div.title::before {
  content: url("./icons/ic_add_black_24px.svg");
}

div.active::before {
  display: inline-block;
  content: url("./icons/ic_remove_black_24px.svg");
}
